---
import { Icon } from 'astro-icon/components'
---

<section class="">
  <div class="container mx-auto px-4 py-20 lg:py-32">
    <div class="mx-auto max-w-4xl text-center text-blue-950">
      <!-- <div
        class="badge mb-6 inline-flex items-center justify-center gap-2 rounded-full border-indigo-600/30 bg-indigo-600 px-2 py-1 text-sm text-white hover:bg-indigo-400/30">
        <span>游</span>
        <span>An치lisis Gratuito de tu Sitio</span>
      </div> -->
      <h1 class="mb-6 text-4xl leading-[1.1] font-bold md:text-6xl lg:text-7xl">
        <slot>쯊u sitio web te est치 costando clientes en lugar de generarlos?</slot>
      </h1>
      <p class="mx-auto mb-8 max-w-3xl text-xl leading-relaxed md:text-xl">
        Recibe un diagn칩stico gratuito y un plan de acci칩n para convertir tu web en tu vendedor #1. Sin tecnisismos,
        solo pasos claros a seguir
      </p>
    </div>

    <div class="flex flex-col items-center justify-center gap-6">
      <a class="button has-icon text-white hover:shadow-md" href="https://github.com/incluud/accessible-astro-starter">
        Descubrir mis Oportunidades
        <Icon name="lucide:arrow-right" />
      </a>
      <ul class="space-between flex items-center gap-4">
        <li class="flex items-center justify-center gap-2">
          <Icon name="lucide:circle-check-big" class="text-green-500" />
          <span>Sin spam</span>
        </li>
        <li class="flex items-center justify-center gap-2">
          <Icon name="lucide:circle-check-big" class="text-green-500" />
          <span>100% Gratuito</span>
        </li>
        <li class="flex items-center justify-center gap-2">
          <Icon name="lucide:circle-check-big" class="text-green-500" />
          <span>Resultados en 48 horas</span>
        </li>
      </ul>
    </div>
  </div>
</section>

<style lang="scss">
  h1 {
    text-wrap: unset;
  }

  .text-gradient {
    background: linear-gradient(
      315deg,
      light-dark(var(--color-primary-300), var(--color-secondary-100)) 25%,
      light-dark(var(--color-secondary-300), var(--color-primary-200))
    );
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  :global(.darkmode .badge) {
    background-color: var(--color-green-500);
  }

  :global(.darkmode h1) {
    color: var(--color-white);
  }

  .button {
    border-color: var(--color-blue-600);
    background-color: var(--color-blue-600);
    color: var(--color-white);
  }
</style>
